{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}Hackm3 오빠{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/style.css' %}">
  </head>

  <body>
    <img id="bg" src="{% if request.session.user_id %}{% static 'images/milback.jpg'%}{% else %}{% static 'images/back.jpg'%}{% endif %}" alt="background">
    {% block nav %}
    {% endblock %}
    {% block alert %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-center" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" charset="utf-8"></script>
  </body>
</html>
