{% extends 'webapp/base.html' %}
{% load static %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Hackm3 오빠</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="navbar-nav ml-auto">
            {% if request.session.user_id %}
              <li class="nav-item">
                <a class="btn btn-outline-danger btn-block" href="{% url 'logout' %}">로그 아웃</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid py-2 col-md-8 offset-md-2 text-light bg-secondary">
        <div class="text-center">
            <h1 class="text-success">좀 더 깊게 봐.</h1>
        </div>
        <div class="bg-dark p-2">
            <h3 class="text-success">우리는 현재 우리 나라의 핵 계획을위한 소프트웨어 개발에 중점을두고 있습니다. 불행히도 개발자는 계속 작업 할 수 없었습니다. 현재 프로젝트가 보류 중입니다.</h3>
            {# <a href="https://gitlab.com/harriebird/project-oppa"  target="_blank" class="btn btn-info btn-lg">소스 코드보기</a> #}
        </div>
    </div>
    <!-- Thanks for the Visiting Korea -->
    <!-- flag{JUST_GOT_SQL_INJECTED} -->
{% endblock %}

