{% extends 'webapp/base.html' %}

{% block content %}
    <div class="col-md-4 offset-md-4 py-5 text-light text-center bg-dark">
        <h4>귀하의 계정에 로그인하십시오.</h4>
        <form method="post" class="mt-4" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="사용자 이름" required>
            </div>
            <div class="form-group mb-4">
                <input type="password" class="form-control" name="password" placeholder="암호" required>
            </div>
            <button type="submit" class="btn btn-success btn-block">로그인</button>
        </form>
    </div>
    {% for number in 'x'|rjust:'250'%}
        {% if forloop.counter == 100 %}
            <!-- Thanks for the Visiting Korea -->
            <!-- flag{TOUCH_DOWN_KOREA_<3} -->
        {% else %}
            <!-- 스크롤을 계속하십시오! -->
        {% endif %}
    {% endfor %}
{% endblock %}