{% extends 'webapp/base.html' %}
{% load static %}

{% block title %}죄송합니다{% endblock %}

{% block content %}
    <div class="col-md-4 offset-md-4 py-5 text-danger bg-dark text-center">
        <img src="{% static 'images/warn.jpg' %}" class="img-fluid rounded-circle border border-light m-5 pg-" style="border-width: 10px !important;">
        <h3>죄송합니다.이 사이트에 액세스 할 수있는 권한이 없습니다.</h3>
        <h3>자동으로 리디렉션됩니다..</h3>
    </div>
    <script>
        setTimeout(() => {
            window.location.replace('https://www.visitkorea.or.kr/intro.html');
        }, 10000)
    </script>
{% endblock %}